<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body style="background-color: #f7f7f7; font-family: Roboto, Arial, sans-serif; padding: 2em; line-height:1.8">
    <div style="background-color: #ffffff; max-width:640px; margin:auto; padding:1em; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);">
        <p>Hey {{first_name}}</p>
        <p>Thank you for taking time out to check out my EmployeeDev project. Click on the link below to verify and activate your account</p>

        <a href="{{link}}" style="background-color: #6f59df; text-decoration: none; color: #ffffff; display:inline-block; cursor:pointer; padding:0.5em 1em; border-radius:3px; margin-bottom: 1em; font-size: 1.2em;">Verify Account</a>

        <p>You can also click on the link below if the link above does not work</p>
        <a href="{{link}}">{{link}}</a>

        <p>Putting EmployeeDev together required a lot of dedication and effort. In the spirit of learning continuously to become a better developer, I would highly appreciate your thoughts and suggestions regarding what you liked, what you didn't, and what
            I should look into in order to become a better developer</p>

        <p>If you are a developer as well, send me a link to everything you have built.</p>

        <p>If you just happened to stumble onto the EmployeeDev home page, click on the link below to check out my main portfolio website containing all my projects</p>

        <a href="https://varunsundar.co" target="_blank" style="background-color: #6f59df; text-decoration: none; color: #ffffff; display:inline-block; cursor:pointer; padding:0.5em 1em; border-radius:3px; margin-bottom: 1em; font-size: 1.2em;">Go to Portfolio Website</a>

        <p>Tweet, email, message, or whatever works from the links below.</p>

        <a href="#" style="margin-right: 1em; color: #6f59df">Twitter</a>
        <a href="#" style="margin-right: 1em; color: #6f59df">LinkedIn</a>
        <a href="#" style="margin-right: 1em; color: #6f59df">Github</a>
        <a href="#" style="margin-right: 1em; color: #6f59df">Email</a>
    </div>
</body>

</html>