<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body style="background-color: #f7f7f7; font-family: Roboto, Arial, sans-serif; padding: 2em">
    <div style="background-color: #ffffff; max-width:640px; margin:auto; padding:1em; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size:2em">EmployeeDev Password Reset Request</h1>

        <p>You are receiving this email because you sent a request to change your password</p>
        <p>If this was done in error, you may disregard this email</p>

        <p>If you wish to reset your password, click on the link below</p>
        <a href="{{link}}" style="background-color: #6f59df; text-decoration: none; color: #ffffff; display:inline-block; cursor:pointer; padding:0.5em 1em; border-radius:3px; margin-bottom: 1em; font-size: 1.2em;">Reset Password</a>

        <p>You can also click on the link below if the link above does not work</p>
        <a href="{{link}}">{{link}}</a>
    </div>
</body>

</html>